.experiences {
  margin-top: 3.21rem;

  .experiencesContainer {
    @include cardsTemplate;

    h1 {
      font-weight: 500;
      font-size: 1.71rem;
      margin-bottom: 3.14rem;
    }

    .flexContainer {
      margin-bottom: -2.36rem;

      img {
        width: 6rem;
        height: 6rem;
        position: absolute;
        object-fit: cover;
        border-radius: $borderRadius;
        -webkit-border-radius: $borderRadius;
        -moz-border-radius: $borderRadius;
        -ms-border-radius: $borderRadius;
        -o-border-radius: $borderRadius;
      }
      h2 {
        font-weight: 500;
        font-size: 1rem;
        padding-left: 7.14rem;
        color: $color-3;
        margin-bottom: 0.86rem;
      }
      h3 {
        font-weight: 600;
        font-size: 1.14rem;
        padding-left: 7.14rem;
        color: $color-1;
        margin-bottom: 2.36rem;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        padding-left: 7.14rem;
        color: $color-3;
        margin-bottom: 2.36rem;
      }
    }
  }
}
