.identity {
  .identityContent {
    @include cardsTemplate;

    img {
      width: 100%;
      border-radius: $borderRadius;
      -webkit-border-radius: $borderRadius;
      -moz-border-radius: $borderRadius;
      -ms-border-radius: $borderRadius;
      -o-border-radius: $borderRadius;
    }

    .name {
      font-size: 1.71rem;
      font-weight: 600;
      margin-top: 1.71rem;
    }

    .function {
      font-size: 1.29rem;
      font-weight: 500;
      margin-top: 0.46rem;
      margin-bottom: 2.29rem;
      color: $color-3;
    }

    .Email,
    .Phone {
      font-size: 1.14rem;
      font-weight: 500;
      color: $color-2;
      margin-bottom: 0.75rem;
      padding-left: 2.3rem;
    }

    i {
      position: absolute;
    }

    .Description {
      font-size: 1.29rem;
      font-weight: 500;
      color: $color-3;
      margin-top: 1.79rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 1131px) {
  .identity {
    .identityContent {
      display: flex;
      justify-content: space-between;

      .profil {
        height: 100%;
        max-width: 19.35rem;
        min-width: 9.35rem;
        margin-right: 2.43rem;
        object-fit: cover;
      }

      .flexContainer {
        display: flex;
        flex-direction: column;

        .flexWrapper {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .info {
            .name {
              margin-top: 0;
              padding-right: 4rem;
            }
          }

          .contact {
            margin-top: 0.36rem;

            .Email,
            .Phone {
              font-size: 1.07rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .identity {
    .identityContent {
      display: flex;
      flex-direction: column;

      .profil {
        width: 100%;
        max-width: 30rem;
        margin: 0 auto 1.71rem;
        height: auto;
      }

      .flexContainer {
        max-width: 30rem;
        margin: 0 auto 1rem;

        .flexWrapper {
          .info {
            .name {
              margin-top: 1.71rem;
              padding-right: 2rem;
            }
          }

          .contact {
            margin-top: 0.36rem;

            .Email,
            .Phone {
              font-size: 1.07rem;
            }
          }
        }
      }
    }
  }
}
