.superWrapper {
  padding: 5.07rem 0;
  max-width: 96.35rem;
  margin: 0 auto;
}

.layoutContainer {
  display: flex;
  justify-content: space-between;
}

.columnOne {
  min-width: 27.29rem;
  max-width: 30rem;
  padding-left: 2rem;
}

.columnTwo {
  padding-left: 2.29rem;
  padding-right: 2rem;
}
