.navigation {
  width: 100%;
  max-width: 96.35rem;
  margin: 0 auto;
  position: absolute;
  top: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;

  .btnNav {
    width: 130px;
    height: 40px;
    border: 1px solid #333;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    border-radius: 0.38rem;
    -webkit-border-radius: 0.38rem;
    -moz-border-radius: 0.38rem;
    -ms-border-radius: 0.38rem;
    -o-border-radius: 0.38rem;

    a {
      color: $color-1;
      font-size: 1.14rem;
      font-weight: 500;
      width: 100%;
      height: 40px;
      line-height: 40px;
      user-select: none;
    }

    &::before,
    &::after {
      position: absolute;
      background: #f2f2f2;
      z-index: -1;
      transition: 1s;
      content: "";
    }

    &::before {
      height: 40px;
      width: 110px;
    }

    &::after {
      width: 130px;
      height: 20px;
    }

    &:hover::before {
      width: 0px;
      background: #fff;
    }

    &:hover::after {
      height: 0px;
      background: #fff;
    }

    &:hover {
      background: #fff;
      box-shadow: $shadow;
    }
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    .btnNav {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 350px) {
  .navigation {
    gap: 2rem;
    .btnNav {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 300px) {
  .navigation {
    gap: 1rem;
    .btnNav {
      transform: scale(0.7);
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
    }
  }
}
