.article {
  margin-top: 2.57rem;

  .articleContainer {
    min-height: 28.6rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include cardsTemplate;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 1.5rem;

      h3 {
        font-weight: 500;
        font-size: 1.14rem;
        color: $color-4;
        margin-bottom: 1rem;
      }

      h2 {
        font-weight: 500;
        font-size: 1.71rem;
        color: $color-1;
        max-width: 12.71rem;
      }

      p {
        font-weight: 500;
        font-size: 1.14rem;
        color: $color-3;
        max-width: 22.71rem;
      }

      a {
        font-weight: 500;
        font-size: 1.14rem;
        color: $blue;
      }
    }

    img {
      object-fit: cover;
      max-width: 57%;
      border-radius: $borderRadius;
      -webkit-border-radius: $borderRadius;
      -moz-border-radius: $borderRadius;
      -ms-border-radius: $borderRadius;
      -o-border-radius: $borderRadius;
    }
  }
}

@media screen and (max-width: 1131px) {
  .article {
    .articleContainer {
      display: block;
      min-height: unset;
      overflow: hidden;

      .wrapper {
        display: block;
        margin: 0;

        h3 {
          margin-bottom: 1.5rem;
        }

        p {
          clear: right;
          max-width: 35rem;
          margin-bottom: 1.5rem;
        }

        .last {
          margin-bottom: 2.63rem;
        }
      }

      img {
        float: right;
        object-fit: cover;
        max-width: 53%;
        height: 100%;
        margin-bottom: 3.57rem;
        margin-left: 1rem;
      }
    }
  }
}
