.projects {
  .projectsContainer {
    .tier {
      margin-top: 2.57rem;
    }
  }
}

.paginationBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.57rem;
  flex-wrap: wrap;
  row-gap: 1rem;

  li {
    a {
      display: block;
      text-align: center;
      width: 2.57rem;
      height: 2.57rem;
      line-height: 2.57rem;
      color: $color-2;
      margin-left: 0.86rem;
      border: solid 1px $color-2;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      box-shadow: $shadow;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;

      &:hover {
        background-color: $blue;
        color: $white;
        border: none;
      }
    }
  }

  .activeBtn {
    a {
      background-color: $blue;
      color: $white;
      border: none;
    }
  }
}

@media screen and (max-width: 1131px) {
  .projects {
    .projectsContainer {
      display: flex;
      justify-content: space-evenly;
      gap: 1.57rem;

      .tier {
        width: 100%;
        max-width: 25.64rem;
        margin-top: 1.14rem;
      }
    }
  }
}

@media screen and (max-width: 731px) {
  .projects {
    .projectsContainer {
      flex-direction: column;

      .tier {
        max-width: unset;
      }
    }
  }
}
