.project {
  .projectContainer {
    animation: apparition 0.6s ease-in reverse none;
    -webkit-animation: apparition 0.6s ease-in reverse none;
    display: flex;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    @include cardsTemplate;

    &:hover {
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.318);
    }

    img {
      display: block;
      width: 23rem;
      height: 19.64rem;
      object-fit: contain;
      border-radius: $borderRadius;
      -webkit-border-radius: $borderRadius;
      -moz-border-radius: $borderRadius;
      -ms-border-radius: $borderRadius;
      -o-border-radius: $borderRadius;
    }

    .wrapper {
      padding-left: 2.43rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 19.64rem;

      .tags {
        display: flex;
        flex-wrap: wrap;
        .tag {
          font-weight: 500;
          font-size: 1.14rem;
          padding-right: 0.64rem;
        }
      }

      .name {
        font-weight: 500;
        font-size: 1.71rem;
        color: $color-1;
      }

      .blabla {
        font-weight: 500;
        font-size: 1.14rem;
        color: $color-3;
        max-width: 105rem;
      }

      .buttons {
        display: flex;
        gap: 1rem;
        a {
          text-decoration: none;
          font-size: 1.29rem;
          font-weight: 500;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
        }

        .demoContainer a,
        .gitContainer a {
          display: block;
          text-align: center;
          width: 8rem;
          height: 3.5rem;
          line-height: 3.5rem;
          border-radius: $borderRadius;
          -webkit-border-radius: $borderRadius;
          -moz-border-radius: $borderRadius;
          -ms-border-radius: $borderRadius;
          -o-border-radius: $borderRadius;
        }

        .demoContainer {
          .demo {
            color: $white;
            background-color: $blue;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;

            &:hover {
              color: $blue;
              background-color: $white;
              border: solid 1px $blue;
            }
          }
        }

        .gitContainer {
          .git {
            color: $blue;
            background-color: $white;
            border: solid 1px $blue;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;

            &:hover {
              color: $white;
              background-color: $blue;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1131px) {
  .project {
    .projectContainer {
      flex-direction: column;
      padding: 1.29rem;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .wrapper {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: unset;
        margin-top: 1.71rem;

        .tags {
          margin-bottom: 1.43rem;
          height: 1.71rem;

          .tag {
            font-size: 1rem;
            padding-right: 0.64rem;
          }
        }

        .name {
          font-weight: 500;
          font-size: 1.71rem;
          color: $color-1;
          margin-bottom: 1.14rem;
        }

        .blabla {
          font-weight: 500;
          font-size: 1rem;
          color: $color-3;
          margin-bottom: 2.5rem;
          height: 9rem;
        }

        .buttons {
          .demoContainer,
          .gitContainer {
            width: 40%;
          }
          .demoContainer a,
          .gitContainer a {
            font-size: 1.14rem;
            width: 100%;
            height: 3.21rem;
            line-height: 3.21rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 731px) {
  .project {
    .projectContainer {
      flex-direction: row;
      gap: 1.71rem;
      padding: 1.29rem;

      a {
        img {
          max-width: 19rem;
          height: auto;
        }
      }

      .wrapper {
        margin-top: 0;

        .blabla {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .project {
    .projectContainer {
      display: block;
      gap: 1.71rem;
      padding: 1.29rem;

      a {
        img {
          width: 100%;
          max-width: 30rem;
          margin: 0 auto 1.71rem;
          height: auto;
        }
      }

      .wrapper {
        max-width: 30rem;
        margin: 0 auto 1rem;
      }
    }
  }
}
